.Header{
    background-color: rgb(174, 255, 250);
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#q{
    margin-left: 30px;
    height: 30px;
    border-radius: 5px;
    border-color: aqua;
    border-width: 3px;
}
#q1{
    margin-left: 30px;
    height: 35px;
    border-radius: 5px;
    border-color: aqua;
    border-width: 3px;
    background-color: aqua;
}
#aw{
    margin-left: 30px;
}