#inputL{
    margin-top: 20px;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-width: 3px;
    border-color: aqua;
}
#inputB{
    margin-left: 20px;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border-width: 3px;
    border-color: aqua;
    background-color: aqua;
    margin-top: 20px;
}
.Login{
    background-color: rgb(174, 255, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    height: 100px;
    padding: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 250px;
    border-radius: 10px;
}
#a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 88, 89);
}